.wrap {
    width: 75%;
    margin: 120px auto 0;
}

.label {
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 32px;
    margin-left: 5%;
}

.btn__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    width: 100%;
    float: right;
    margin-right: 5%;
    margin-top: 32px;
}
