/*  */
.wrap {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
}
.label {
    margin-bottom: 16px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.arrow {
    margin-left: 8px;
    display: grid;
    transform: unset;
    transition: transform 0.3s;
}
.arrowCollaps {
    transform: rotate(180deg);
    transition: transform 0.3s;
}
.radioWrap {
    margin: 4px 0;
}

.labelRadio {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
