:root {
    --phone-default: 745px;

    --white: #ffffff;
    --grey: #eaecee;
    --grey-light: rgba(234, 236, 238, 0.31);
    --violet: #a520e3;
    --violet-light: rgba(165, 32, 227, 0.15);
    --violet-durk: #291720;
    --light-durk: rgba(0, 0, 0, 0.2);
    --grey-fonts-active: hsl(0, 0%, 40%);
    --grey-fonts: hsl(0, 0%, 60%);
    --grey-font-order: #4e4e4e;
    --error: #f95757;
    --sucess: #41d172;
}

@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('../public/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../public/Inter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Regular';
    src: url('../public/helveticaneuecyr_roman.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Thin';
    src: url('../public/helveticaneuecyr_thin.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../public/helveticaneuecyr_black.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: var(--grey-light);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--violet);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

.pagination__active {
    background-color: var(--violet) !important;
    opacity: 1 !important;
}

.ml-1 {
    margin-left: 8px;
}

.ml-2 {
    margin-left: 16px;
}

.mr-1 {
    margin-right: 8px;
}

.mr-2 {
    margin-right: 16px;
}

.mt-1 {
    margin-top: 8px;
}

.mb_2 {
    margin-bottom: 16px;
}

ul {
    list-style: none;
}
