.logo-wrap {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.logo-text {
    font-family: 'AmaticSC-Bold';
    font-size: 64px;
}

.header {
    /* width: 90%; */
    max-width: 1840px;
    width: 100%;
    margin: 36px auto 0;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.search-logo-wrap {
    display: flex;
    align-items: center;
}

.input-wrap {
    width: 656px;
    height: 56px;
    position: relative;
}

.input {
    background-color: var(--grey);
    outline: none;
    border: none;
    border-radius: 25px;
    width: 100%;
    padding: 19px 0  19px 24px;
    color: black;
}

.input-icon {
    position: relative;
    right: -94%;
    top: -37px;
}

.button-group {
    display: flex;
}
.button-group {
    width: 205px;
    display: flex;
    justify-content: space-between;
}
/* Button - mb need to moowe to separate file */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--grey);
}