.logo-wrap {
    display: flex;
    align-items: center;
    margin-right: 90px;
    cursor: pointer;
}

.logo-text {
    font-family: 'AmaticSC-Bold', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    font-size: 64px;
}

.header {
    max-width: 1840px;
    width: 100%;
    margin: 0 auto;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.search-logo-wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrap {
    max-width: 360px;
    min-width: 167px;
    width: 100%;
    height: 56px;
    position: relative;
    margin-left: 64px;
}

.input {
    background-color: var(--grey);
    outline: none;
    border: none;
    padding: 19px 0 19px 24px;
    border-radius: 25px;
    max-width: 656px;
    width: 100%;
}

.input-icon {
    position: relative;
    right: -89%;
    top: -37px;
}

.button-group {
    width: 205px;
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    cursor: pointer;
}

/* Button - mb need to moowe to separate file */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--grey);
}

.button_active {
    border: 1px solid var(--violet);
    background: var(--violet-light);
}

.button-count-wrap {
    position: relative;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--violet);
    border-radius: 50%;
    right: -37px;
    top: -60px;
    color: var(--white);
    font-size: 12px;
}

.dropdown {
    display: initial;
}

.popupBtn__wrap {
    display: none;
}

.wrapRadio {
    margin: 0 4px;
}

.controllBtn {
    display: none;
}

/* media */

/* @media screen and (max-width: 745px) { */
@media screen and (max-width: 850px) {
    .header {
        justify-content: center;
    }
    .dropdown {
        display: none;
    }

    .button-group {
        display: none;
    }

    .logo-wrap {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .search-logo-wrap {
        justify-content: center;
        width: unset;
    }

    .img {
        display: none;
    }

    .input-wrap {
        display: none;
    }

    .input {
        display: none;
    }

    .input-icon {
        display: none;
    }

    .popupBtn__wrap {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: var(--violet);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 18px;
    }

    .popupBtn__wrap_line {
        background-color: var(--white);
        width: 20px;
        height: 3px;
        transition: 0.3s transform;
    }

    .popupBtn__wrap_line_active {
        transform: rotate(45deg);
        transition: 0.3s transform;
    }

    .popupBtn__wrap_line:nth-child(2) {
        margin-top: 4px;
    }

    .popupBtn__wrap_line_active:nth-child(2) {
        display: none;
    }

    .popupBtn__wrap_line:nth-child(3) {
        margin-top: 4px;
    }
    .popupBtn__wrap_line_active:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -3px;
        transition: 0.3s transform;
    }
}

@media screen and (max-width: 1150px) {
    .button-group {
        flex-direction: column;
        width: unset;
        z-index: 1;
        align-self: auto;
        /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.32); */
        /* background: white; */
        /* border-radius: 41px; */
        padding: 8px;
    }
    .buttonGroupActive {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.32);
        background: white;
        border-radius: 41px;
        padding: 8px;
        align-self: baseline;
        margin-top: 45px;
    }
    .wrapRadio {
        margin: 4px 0;
        display: none;
    }
    .linkAdaptivState {
        display: block;
    }

    .controllBtn {
        display: block;
    }
}
