.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 311px;
    width: 100%;
    padding: 24px;
    border-top: 1px solid var(--light-durk);
    border-bottom: 1px solid var(--light-durk);
}

.label_isActive {
    color: var(--light-durk);
}
/* togler */
.togle {
    width: 48px;
    height: 14px;
    background: var(--grey);
    border-radius: 7px;
}
.aria {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: var(--violet);
    position: relative;
    top: -6px;
    transition: .3s;
}
.aria_active {
    transform: translate(24px);
    transition: .3s;
}