.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: var( --grey-fonts);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    margin-top: 12px;
}

.custom-checkbox:checked+label {
    color: var( --grey-fonts-active);
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    content: '';
    border-color: var(--violet);
    background-color: var(--violet);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.wrap {
    display: flex;
    flex-direction: column;
    max-width: 311px;
    width: 100%;
}

.label {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.chekbox_wrap {
    /* padding-top: 16px; */
    padding-left: 8px;
    display: block;
    position: relative;
    overflow: hidden;
}

.chekbox_wrap_animate {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: top .3s;
}
.chekbox_wrap_active {
    top: -1100px;
    transition: top 1s;
}

.arrow {
    transition: transform .3s;
}

.arrow_active {
    transform: rotate(180deg);
    display: flex;
    transition: transform .3s;
}
