.form {
    background-color: rgba(234, 236, 238, 1);
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(234, 236, 238, 7);;
    width: 70%;
    margin: 64px auto 0;
    padding: 48px;
}

.title {
    font-size: 32px;
    padding-bottom: 24px;
    display: block;
}

.inputGroup {
    display: flex;
}

.acceptNotifications {
    display: flex;
    align-items: center;
    width: 30%;
    margin-top: 16px;
}

.inputGroup_indent {
    margin-top: 32px;
}

.input {
    max-width: 600px;
    width: 100%;
    color: #333;
    padding: 16px 12px;
    border-radius: 12px;
    border: none;
    outline: none;
}

.label {
    color: var(--grey-fonts);
}

.separateLine {
    width: 90%;
    margin: 32px auto;
    border: 1px solid var(--grey-fonts);
}

/*  */
.grey {
    background-color: var(--grey-fonts);
}

.mr_1 {
    margin-right: 8px;
} 
.mr_3 {
    margin-right: 24px;
}
.h_24 {
    height: 24px;
}
.w_24 {
    width: 24px;
}
.w_344 {
    max-width: 344px;
}

.disableMaxWidth {
    max-width: none;
    width: 100%;
}