.wrap {
    position: fixed;
    padding-right: 12px;

    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: right .3s;
    animation-duration: 3s;
    animation-name: slidein;
    border: 2px solid red;
}

.wrap2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    right: 0;
    justify-content: flex-end;
}
.notifications {
    z-index: 9999999;
    position: relative;
    margin: 32px auto 0;
    padding-left: 16px;
    color: var(--white);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    border-left: 3px solid var(--violet);
    background: linear-gradient(270deg, rgba(74, 6, 58, 0.65) 36.83%, rgba(0, 0, 0, 0.3445) 100%);
}


@keyframes slidein {
    from {
        right: 0;
    }
  
    to {
        right: 2000
    }
  }