.swipper__next {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    cursor: pointer;
    outline: none;
    z-index: 120;
    position: relative;
}
.swipper__prev {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    cursor: pointer;
    outline: none;
    z-index: 120;
    position: relative;
}