.wrap {
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    min-height: 70vh;
    flex-direction: column;
}
.wrap_kategory {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 400;
    font-size: 36px;
}

.el__wrap {
    margin: 32px 48px;
}

.el__wrap_basket {
    margin: 10px 0;
    width: 100%;
    max-width: 1200px;
}

.isEmpty {
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    color: rgb(51 51 51 / 28%);
}
